---
layout: base
---

{% include "blog-header.njk" %}

<article>
<div class="pt-2">
{% for t in tags %}
    {% if t !== 'post' %}
    <button class="dark:bg-slate-600 bg-slate-900 duration-200 rounded-md">
        <div
            class="bg-purple-400 text-white dark:bg-yellow-300 dark:text-purple-500
            active:translate-x-0
            active:translate-y-0
            border-slate-900
            border-2
            duration-200
            px-3
            -translate-x-1 
            -translate-y-1 
            hover:-translate-x-1.5 
            hover:-translate-y-1.5
            rounded-md"
        >
            {{t}}
        </div>
    </button>
    {% endif %}
{% endfor %}
</div>

{{ content | safe }}
</article>