@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: monospace;
    @apply dark:bg-slate-900 bg-yellow-300;
  }
}

a {
  @apply text-purple-500 font-medium;
}

a:hover {
    @apply underline;
}


.body {
  font-family: monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


article {
  @apply prose dark:prose-invert max-w-screen-md mx-auto px-5;

  font-size: 16px;
  line-height: 28px;
}

.header {
  position: sticky;
  top: -1px;
}